@import 'variables.less';
#expertise {
    color: @expertise-txtcolor;
    h3 {
        width: 70%;
        margin-left: 10%;
    }
    .under-layer {
        background-color: @expertise-primary-bgcolor;
        position: fixed;
        width: 100%;  
        .our-buisness .row div.text {
            vertical-align: middle;
        }
        .e-book {
        }
    }
    .top-layer {
        position: relative;
        top: 745px;
        z-index: 200;
        margin-bottom: 1200px;
        background-color: @expertise-secondary-bgcolor;
        background-image: url('/images/experties/back-poly-bottom.jpg');
        .skewed {
            height: 75px;
            background: @expertise-secondary-bgcolor;
            position: relative;
            &.top {
                top: -25px;
                -webkit-transform: skewY(-2deg);
                -moz-transform: skewY(-2deg);
                -ms-transform: skewY(-2deg);
                -o-transform: skewY(-2deg);
                transform: skewY(-2deg); 
            }
            &.bottom {
                bottom: -25px;
                -webkit-transform: skewY(2deg);
                -moz-transform: skewY(2deg);
                -ms-transform: skewY(2deg);
                -o-transform: skewY(2deg);
                transform: skewY(2deg); 
            }
        }
    }
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    z-index: 100;
}
